{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src = "\static\scripts\delete.js" type="text/javascript"> </script>
      <script src = "\static\scripts\fetch.js" type="text/javascript"></script>
    <!-- <script type="text/javascript">
      // using jQuery
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    </script> -->
    <meta charset="utf-8">
    <title>Products</title>
  </head>
  <body>
    <h1>Products</h1>

    <p></p>
<!-- <form  action="index.html" method="GET"> -->
<div class="products_list">
  <ul>
      {% if products_list %}
          {% for product in products_list %}
              <li id = '{{product.id}}'><a id = '{{product.id}}' class = "fetch_function">{{product.name}}</a> <button class = "delete_function" type="button" name="Delete" id = '{{product.id}}'>Delete</button> </li>
          {% endfor %}
      {% else %}
          <p class="no_products">No products available</p>
      {% endif %}

    </ul>


</div>
    <p></p>

    <h3>Update products</h3>

    <p></p>

<div class="update_form">

    <form id = "update-product-form" method="POST">
      {% csrf_token %}

      <input class ="product_id" id = "product_id" type="hidden" name = "product_id" value="">


      <label for="update_name">Name:</label>
      <input class = "update_name" id="update_name" type="text" name="update_name" value="">

      <p></p>

      <label for="update_description">Description:</label>
      <input class = "update_description" id="update_description" type="text" name="update_description" value= "">

      <p></p>

      <label for="update_price">Price:</label>
      <input class = "update_price" id="update_price" type="decimal" name="update_price" value="">

      <p></p>
      <input type="submit" name="" value="Submit">
      <script src = "\static\scripts\update.js" type="text/javascript"></script>
    </form>
</div>
    <p></p>

    <h3>Insert Product</h3>

    <p></p>
    <form  id = "add-product-form" method="POST">
      {% csrf_token %}
      <label for="insert_name">Name:</label>
      <input id="insert_name" type="text" name="name">

      <p></p>

      <label for="insert_description">Description:</label>
      <input id="insert_description" type="text" name="description">

      <p></p>

      <label for="insert_price">Price:</label>
      <input id="insert_price" type="decimal" name="price">

      <p></p>
      <input type="submit" name="" value="Submit">
      <script src = "\static\scripts\add.js" type="text/javascript"></script>
    </form>

  </body>
</html>
